__pycache__/
data/
*.db
*.ipynb
**/.ipynb_checkpoints/
build/
*.nc
*.prof
test.py
testing.ipynb
encode_analysis/analyses/
encode_analysis/data/
encode_analysis/studies/
encode_analysis/first_pass/
encode_analysis/second_pass/
encode_analysis/gtensor__tempfiles/
encode_analysis/staged/